<?xml version="1.0"?>
<config>
	<modules>
		<Cammino_Facebookconversion>
			<version>0.1.0</version>
		</Cammino_Facebookconversion>
	</modules>
	<global>
		<models>
			<facebookconversion>
				<class>Cammino_Facebookconversion_Model</class>
			</facebookconversion>
		</models>
		<blocks>
			<facebookconversion>
				<class>Cammino_Facebookconversion_Block</class>
			</facebookconversion>
		</blocks>
		<events>
			<checkout_onepage_controller_success_action>
				<observers>
					<facebookconversion_observer>
						<type>singleton</type>
						<class>facebookconversion/observer</class>
						<method>addTracker</method>
					</facebookconversion_observer>
				</observers>
			</checkout_onepage_controller_success_action>
		</events>
	</global>
</config>